
.modal {
    z-index: 99999 !important;
}

  
.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.modal-content{
    margin-top: 50% !important;
}
.team-hover:hover {
    border-color: rgb(57, 139, 57) !important;
}