#modal-image-picker .modal-open .modal {
    overflow: unset !important;
}
#modal-image-picker .modal-dialog {
    width: 100% !important;
    margin-top: 0 !important;
    top: 0 !important;
}

#modal-image-picker .modal-content {
    width: 90% !important;
    min-height: 500px;
    max-height: 750px;
    margin: auto !important;
}

#modal-image-picker .modal-header {
    display: block !important;
}

#modal-image-picker .modal-body {
    height: auto;
    max-height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px !important;
}

#modal-image-picker .images-list {
    position: relative;
    display: block;
    height: 500px;
    overflow-y: auto;
}

#modal-image-picker .images-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    padding: 15px;
}

#modal-image-picker .image-bounding, .image-bounding-selected {
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
}

#modal-image-picker .image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-image-picker .image-wrapper .image {
    width: 150px;
    height: 150px;
    background-position: 50%;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

#modal-image-picker .image-wrapper .image:hover {
    background-color: #eee !important;
}

#modal-image-picker .image-bounding-selected {
    border: 1px solid #2CB587 !important;
}

#modal-image-picker .image-picker-selected {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

#modal-image-picker .image-picker-tab,.image-picker-tab-selected {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

#modal-image-picker .image-picker-tab-selected {
    background-color: #ddd !important;
}

#modal-image-picker .image-picker-tab:hover {
    background-color: #ddd;
}

#modal-image-picker .image-picker-action-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 22px;
    color: #2CB587;
}

#modal-image-picker .image-picker-action-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

#image-picker .image-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    background-color: #eee;
    margin-bottom: 10px;
    padding: 15px;
}



#modal-image-picker .modal-body::-webkit-scrollbar {
    width: 5px;
    cursor: context-menu;
}
  /* Track */
#modal-image-picker .modal-body::-webkit-scrollbar-track {
    border-radius: 10px;
}

  /* Handle */
#modal-image-picker .modal-body::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

  /* Handle on hover */
#modal-image-picker .modal-body::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}


#modal-image-picker .images-list::-webkit-scrollbar {
    width: 5px;
    cursor: context-menu;
}
  /* Track */
#modal-image-picker .images-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

  /* Handle */
#modal-image-picker .images-list::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

  /* Handle on hover */
#modal-image-picker .images-list::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}
.image-value {
    position: relative;
}
.btn-remove {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.3;
}
.btn-remove:hover {
    opacity: 0.8;
}