@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all');
@import url('/public/static/agon/css/argon-dashboard.css');
@import url('/public/static/agon/css/argon.min.css');
@import url('/public/static/agon/js/plugins/nucleo/css/nucleo.css');
.header-color {
    background:linear-gradient(to right, #c616c1 30%, #6600ff 100%) !important;
}

.navbar-vertical.navbar-expand-md .navbar-nav>.nav-item>.nav-link.active {
    margin-left: 30px !important;
    margin-right: 30px !important;
    background:linear-gradient(to right, #c616c1 30%, #6600ff 100%) !important;
    color: white;
}
.navbar-vertical .navbar-nav .nav-link.active:before{
    border-left: none !important;
}
.navbar-vertical.navbar-expand-md .navbar-nav>.nav-item>.nav-link {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.required {
    color: red;
}

.dropdown-menu.show {
    right: 0;
    left: auto;
}
 .page-link {
    font-size: .875rem;
    display: flex;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    padding: 0;
    border-radius: 50%!important;
    align-items: center;
    justify-content: center;
}

.game-kind-icon {
    border-radius: 25%;
}
.navbar-vertical.navbar-expand-md {
    max-width: 60px !important; 
    overflow-x: hidden;
}
.main-content {
    margin-left: 60px !important;
}