.p-info{
    line-height: 0.7;
}
.account-avt{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.title-info{
    font-weight: 600;
}

.team-icon{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
