#round_ids {
    height: 40px;
    width: 200px;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
}

option:disabled {
    color:  #efefef !important;
}
option {
    padding: 5px;
    color: rgb(29, 29, 29) !important;
}