@import url('https://theme-css.s3.ap-southeast-1.amazonaws.com/ionicons.min.css');
@import url('https://theme-css.s3.ap-southeast-1.amazonaws.com/dashforge.css');
@import url('https://theme-css.s3.ap-southeast-1.amazonaws.com/dashforge.dashboard.css');
@import url('https://theme-css.s3.ap-southeast-1.amazonaws.com/dashforge.mail.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    background: #F3F6F9;
}

.aside {
    width: 260px;

}
.aside .aside-header {
    background-color: #013E3F;
    color: #FFFFFF;
}
.aside .aside-body {
    background-color: #013E3F;
    color: #FFFFFF;
}

/* COLOR OVERRIDE */
.btn-primary {
    border: 1px solid #2CB587;
    background-color: #2CB587;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #356B56 !important;
  border-color: #356B56 !important;
  cursor: not-allowed !important;
}

.btn-primary:hover {
    border: 1px solid #356B56;
    background-color: #356B56;
}
.btn-primary:focus, .btn-primary.focus {
    border: 1px solid #1B394D;
    background-color: #1B394D;
}
.bg-primary {
    background-color: #2CB587 !important;
}

.btn-outline-primary {
    border: 1px solid #2CB587;
    color: #2CB587;
    background-color: #FFFFFF;

}
.btn-outline-primary:hover {
    color: #FFFFFF;
    border: 1px solid #2CB587;
    background-color: #2CB587;
}
.btn-outline-primary:focus, .btn-primary.focus {
    color: #FFFFFF;
    border: 1px solid #2CB587;
    background-color: #2CB587;
}

/* .... */
.pagination {
    font-size: 12px !important;
}
.page-link {
    padding: 2px 6px;
    min-width: 12px;
    cursor: pointer;
}
.page-item.active .page-link {
    background-color: #7987a1;
}
.page-item.active .page-link {
    border: 1px solid #7987a1;
}

.content-body {
    overflow-y: visible;
}

body {
    background: #FFFFFF !important;
    color: #1e1e2d;
}
.card {
    border-radius: 0 !important;
}
.navbar-menu .nav-link {
    color: #FFFFFF;
}
.navbar-menu .nav-item.active .nav-link {
    color: #FFFFFF;
    text-decoration: underline;
}
.nav-sidebar .nav-link {
    border-radius: 0px;
    padding: 2px 10px 2px 15px !important;
}
.navbar-menu .nav-link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.table td {
    border-top: none;
}
.table thead, .table tbody {
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-left: 1px solid rgba(72, 94, 144, 0.16);
    border-right: 1px solid rgba(72, 94, 144, 0.16);
}
.table thead {
    background: #F7F7F7;
}

.modal-backdrop.fade {
    opacity: 0.5;
}
.modal {
    top: 50px;
}
.modal-dialog-form{
    max-width: 80% !important;
}
.modal-header {
    display: block;
}
.modal.fade .modal-dialog {
    transform: none;
}


.carousel .slide {
    background: #FFF;
}

.badge {
    font-size: 11px;
}
.btn {
    border-radius: 0;
}
.alert.alert-danger {
    background: #ee0000;
    border: 1px solid #ee0000;
    color: #eef;
}
.btn-danger {
    background: #ee0000;
    border: 1px solid #ee0000;
    color: #fff;
}
.btn-danger:hover {
    background: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}

.form-control {
    border-radius: 0;
    border: 1px solid #DDD;
}

.kt-nav__link.active {
    font-weight: 500;
    color: #0168fa !important;
}

/* File Wrapper */
.file-wrapper{
  width: 250px;
  height: 185px;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
.file-wrapper:hover .file-wrapper-overlay {
  opacity: 0.5;
  transition: transform 0.2s, opacity 0.5s;
}
.file-wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 10px;
}
.file-wrapper-overlay .file-name{
  text-align: center;
  color: #fff;
  padding-top: 15px;
  height: 80%;
}
.file-wrapper-overlay .action{
  bottom: 15px;
  position: absolute;
  right: 15px;
  color: #fff;
}
.file-wrapper .file-responsive{
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 24%;
  background: #f2f2f2;
}
.file-wrapper .file-responsive{
  font-size: 26px;
  color: #c5c5c5;
}
.file-wrapper img{
  margin: 0 auto;
}

/* Board Status */
.progress-style{ background-color: #ffff99 !important; color: #1e1e2d !important; }
.completed-style{ background-color: #ccffcc !important; color: #1e1e2d !important; }
.open-style{ background-color: #FFFFFF  !important; color: #1e1e2d !important; }
.blocked-style{ background-color: #ffcccc  !important; color: #1e1e2d !important; }
.failed-style{ background-color: #FF0000 !important; color: #FFFFFF !important; }
.failed-style span{ color: #FFFFFF !important; }
.deprecated-style{background-color: #F3F3F3 !important; color: #FFFFFF !important;  text-decoration: line-through !important}

/* Avatar */
.avatar {
  border-radius: 50% !important;
}

.avatar-circle {
  background-color: #d6dadc;
  border-radius: 50% !important;
  color: #444;
  cursor: pointer;
  display: block;
  overflow: visible;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

.avatar-circle-o {
  background-color: #d6dadc;
  border: 2px solid #337ab7;
  border-radius: 50% !important;
  color: #444;
  cursor: pointer;
  display: block;
  overflow: visible;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-right: 5px;
  line-height: 22px !important;
}
.avatar-circle span{
  display: block;
}

.avatar-25{
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
}
.avatar-25>img{
  width: 25px;
  /* height: 25px; */
}
.avatar-32{
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.avatar-32>img{
  width: 32px;
  height: 32px;
}

.popover {

}
.popover.fade:not(.show) {
    opacity: 1;
}
/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    pointer-events:none;
}
.dropbtn:hover {
    background: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 200px;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}


p.stdformbutton {
  margin: 0;
  cursor: pointer;
  display: block
}
.show {
  display: block
}
.sidebar-custom-active {
    background-color: #eeeff4;
    color: #001737;
    border-radius: 0px !important;
}


.btn-resolution {
  margin-right:15px ;
  border-radius:3px ;
  padding: 10px ;
  font-size: 12px ;
  font-weight: 600 ;
}

.btn-accept {
  background: #4CAF50 ;
  color: #fff ;
}

.btn-accept:hover {
  background: #46a049 ;
  color: #fff ;

}

.btn-reject {
  background: #dc3545;
  color: #fff ;
}

.btn-reject:hover {
  background:  #da190b  ;
  color: #fff ;
}

.nav-aside.nav-label.btn-resolution-skip {
  color: #666666;
  padding-right: 20px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 600;
  float: right
}
.nav-aside.nav-label.btn-resolution-skip:hover {
  color: #666666;
  padding-right: 20px;
  padding-top: 3px;
  font-size: 13px;
  font-weight: 600;
  float: right;
  text-decoration:underline;
}
.title-accepted {
  color: #10b759;
}
.title-rejected {
  color: #dc3545;
}
.title-skipped {
  color: #7987a1;
}
.title-pending {
  color: #333333;
}
.upload-custom {
  display: none;
}
.style-update-avatar {
  position: absolute;
  right: 5px;
  top: 140px;
  padding: 11px;
  border-radius: 50%;
  background: #eeeff4;
  height: 43px;
  cursor: pointer;

}
.nav-item .nav-link.side-link-custom {
  color: #001737
}
.nav-item .nav-link.side-link-custom.active {
  background: #2CB587;
  color: #fff;
  border-radius: 0
}
.nav-item .nav-link.side-link-custom:not(.active):hover {
  background-color: #2CB587;
  color: #fff;
  border-radius: 0
}
.fa.fa-camera-retro.fa-2x {
  font-size: 1.5em
}
.custom-pagination {
  list-style: none;
  display: flex;
}
.custom-pagination a {
  font-size: 0.85rem;
}

.custom-pagination li a {
  padding: 0.25rem 0.5rem;
  background-color: #ecf2f7;
  color: #8e97a7 !important;
  margin: 0rem 0.1rem;
  cursor: pointer;
}

.custom-pagination li a:hover {
  background-color: #2CB587 !important;
  color: white !important;
}
.custom-page-item.active a {
  background-color: #2CB587 !important;
  color: white !important;
}
