.background-score {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
}
@media (max-width: 20000px){
    .col-md-3 {
        flex: none!important;
        max-width: 28%!important;
    }
    .base-score {
        margin-bottom: 11px;
    }
    .base-score__header {
        display: flex;
        justify-content: space-between;
    }
    .base-score__header--title {
        text-transform: uppercase;
        font-family: nb_international_prolight;
        font-size: 12px;
        line-height: 13px;
        color: #000000;
    }
    .base-score__content {
        height: 52px;
        display: flex;
        align-items: center;
        margin-bottom: 2px;
    }
    .base-score__content .background-logo {
        z-index: 1;
    }
    .base-score__content .background-score {
        background-color: black;
        width: 100%;
        height: 36px;
        margin-left: -10px;
    }
    .base-score__content .background-score .score-point {
        text-align: center;
        font-family: nb_international_proregular;
        font-size: 24px;
        line-height: 26px;
        color: #FFFFFF;
        position: absolute;
        padding: 5px 0;
        left: 42%;
    }
    .base-score__content .background-score .score-bar{
        background-color: #0075FF;
        height: 100%;
        transition: 1.5s ease-in-out 0.3s;
    }
    .base-score__footer {
        display: flex;
        justify-content: flex-end;
    }
    .base-score__footer button {
        padding: 7.5px 10px;
        background-color: #E9FF88;
        color: #000000;
        font-family: nb_international_prolight;
        font-size: 12px;
        line-height: 13px;
        border: unset;
    }
    .base-score__footer button:hover {
        color: #FFF;
        background-color: #000;
        font-weight: 600;
    }
    .upload-order {
        background-color: #F7F7F9;
        margin: 0px -15px 0px -15px;
        padding: 14px 15px 22px 15px;
    }
    .upload-order__hearder {
        font-family: nb_international_prolight;
        font-size: 12px;
        line-height: 13px;
        color: #000000;
        width: 146px;
        padding-bottom: 17px;
    }

    .order {
        background-color: #E9FF88;
        height: 44px;
        padding-top: 9px;
        font-family: nb_international_proregular;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        color: #000000;
    }
    .order__text {
        width: 88px;
        margin: auto;
    }
    .upload-dna {
        background-color: #8C8C8C;
        margin: 0 10px;
        height: 44px;
    }
    .upload-dna__text {
        padding-top: 9px;
        font-family: nb_international_proregular;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        color: #FFFFFF;
    }
    .upload-dna__subtext {
        padding-top: 5px;
        font-family: nb_international_prolight;
        font-size: 8px;
        line-height: 9px;
        text-align: center;
        color: #E9FF7D;
    }
    .upload-blood {
        background-color: #8C8C8C;
        height: 44px;
    }
    .upload-blood__text {
        padding-top: 9px;
        font-family: nb_international_proregular;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        color: #FFFFFF;
    }
    .upload-blood__subtext {
        padding-top: 5px;
        font-family: nb_international_prolight;
        font-size: 8px;
        line-height: 9px;
        text-align: center;
        color: #E9FF7D;
    }

}
#basescore_desktop .sharing-desktop .modal {
    display: block!important;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%;
    padding-bottom: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
#basescore_desktop .sharing-mobile .pc-header {
    z-index: 0!important;
}
#basescore_desktop .sharing-dialog-desktop {
    width: 450px;
    background-color: #FFFFFF;
    height: 330px;
    margin: auto;
}
#basescore_desktop .sharing-container-mobile {
    background-color: #fff;
    padding: 18px 20px 0px 20px;
}
#basescore_desktop .sharing-header-mobile {
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}
#basescore_desktop .sharing-header-mobile__title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3C3E3E;
}

#basescore_desktop .sharing-content-mobile {
    padding: 15px 18px 20px 18px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: Roboto;
}
#basescore_desktop .sharing-content-mobile__title {
    text-transform: uppercase;
    /* font-family: nb_international_prolight; */
    font-size: 12px;
    line-height: 13px;
    color: #000000;
    padding-bottom: 7px;
}
#basescore_desktop .sharing-content-mobile__score {
    height: 42px;
    display: flex;
    align-items: center;
}
#basescore_desktop .sharing-content-mobile__score .background-logo {
    z-index: 1;
}
#basescore_desktop .sharing-content-mobile__score .background-score {
    background-color: #000000;
    width: 100%;
    height: 30px;
    margin-left: -10px;

}
#basescore_desktop .sharing-content-mobile__score .background-score .score-point {
    text-align: center;
    /* font-family: nb_international_proregular; */
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    position: absolute;
    padding: 5px 0;

}
#basescore_desktop .sharing-content-mobile__score .background-score .score-bar{
    background-color: #0075FF;
    height: 100%;
}

#basescore_desktop .upload-order .row{
    margin: 0;
}
#basescore_desktop .order-box-mobile {
    background-color: #FFFFFF;
    box-shadow: 0px 8px 24px 0px rgb(112 144 176 / 15%)
}
#basescore_desktop .order-box-mobile .order-box__row {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3c3e3e54;
}
#basescore_desktop .order-box-mobile .order-box__row .order-box__col {
    padding: 15px;
    padding-left: 20px!important;
}
#basescore_desktop .image-insta-sharing {
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #0075FF 0%, #000000 129.31%);
    padding: 30px 15px 20px 15px;
    width: 100%;
    height: 466px;
    display: flex;
    align-items: center;
}
#basescore_desktop .image-twitter-sharing {
    position: absolute;
    z-index: -1;
    background: #ffffff00;
    padding: 20px 15px 20px 15px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    font-family: Roboto;
}

.base-score__footer button.btn-tweet-custom {
   padding: 7.5px 10px;
   background-color: #FFF;
   color: #0075FF;
   font-family: nb_international_prolight;
   font-size: 12px;
   line-height: 13px;
   border: 1px solid #0075FF;
}

.base-score__footer .btn-tweet-custom:hover {
   background-color: #0075FF;
   color: #FFF;
}
.base-score__footer .btn-tweet-custom:hover #tweet-icon {
   filter: grayscale(1) brightness(300%);
}
