#button-spin:hover {
    cursor: pointer;
}
#canvas{
    width: 600 !important;
    height: 600 !important;
    width: 100%; /*canvas responsive*/
    border-radius: 50%;
}
#button-spin{
    width: 15%;
    height: 15%;
    top: 42%;
    left: 42.5%;
    position: absolute;
    border-radius: 50%;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(28, 32, 37, 0.3);
}
#wheel {
    background-image: url("/public/static/agon/img/round-spin.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 6%;
}
#button-spin:hover{
    box-shadow: -5px -5px 9px white, 5px 5px 9px white;
}