.title-center{
    text-align: center;
    display: table-cell;
    vertical-align: middle !important;
}

.text-center{
    text-align: center;
}

.table-custome-css > tbody > tr > td {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.form-control {
    font-size: 12px !important;
    padding: 10px !important;
}